h3{
    color:orange;
    font-family:sans-serif;
}
/*
selector{property:value;}
property+ value = declaration

there are different types of selector, simple selector, 
*/
.a{
    color: rgb(209, 155, 118);
}
#b{
    color: #dd6ee7;
}
.cat{
    background-color: orange;
}
.rat{
    color: red;
    
}
