@media (min-width:480px) {
    body{
        background-color: tomato;
    }
}
@media (min-width:481px) and (max-width:768px){
    body{
        background-color: cornflowerblue;
    }
}
@media (min-width:769px) and (max-width:1200px){
    body{
        background-color:brown;
    }
}
@media (min-width:1200px){
    body{
        background-color:aqua;
    }
}